
.chat-icon {
    width: 24px;
    height: 24px;
    fill: #fff !important;
    padding-right: 15px;
    margin-bottom: -3px;
}

.chat-dialog-title {
    background-color: #001eff;
    color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

.chat-dialog-dimensions {
    position: fixed;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    inset: auto 16px 16px auto;
    margin: 0;
}

.chat-dialog-position {
    position: fixed;
    inset: auto 16px 16px auto;
    margin: 0;
}

.send-icon {
    color: grey;
}
